---
import LogoTop from '@components/logo/LogoTop.astro'
import Menu from '@components/navigation/Menu.astro'

import { lineSet } from '@/snippets/design'

const { lang, nLines, baseRem, incIncDecimal, startWith } = Astro.props;

const alf = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

//aos
import { aosDuration, aosDelay } from '@/snippets/aosValues';


const spacingRem = 0.15; //spacing between, this value is used in calculations, it is not applied to the style
const spacingTW = "designLinesSpaceBetween"; //spacing between, this is the tw class that will be applied

const lines = lineSet(nLines, baseRem, incIncDecimal, startWith, spacingRem);

console.log("lines");
console.log(lines);

---

<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become fill width and full heigh. It will also be responsive.
--- -->
<div class="hidden mt-designLinesSpaceBetween"></div>
<div class="hidden mt-0"></div>

<section class="bg-primary" id="designTop">

  <LogoTop />
  <div class="px-spaceFromEdgeMobile sm:px-spaceFromEdge 2xl:max-w-7xl mx-auto">
    <div
        class="h-0.5 mb-2 bg-secondary"
        data-aos="fade-up"
        data-aos-duration={aosDuration(1)}>
    </div>
  </div>
  <div class="px-spaceFromEdgeMobile sm:px-spaceFromEdge 2xl:max-w-7xl mx-auto pb-spaceFromEdgeMobile sm:pb-spaceFromEdge">
    <div class="">
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between items-center"
        data-aos="fade-up"
        data-aos-duration={aosDuration(2)}>
        <div class="hidden"><Menu lang={lang}/></div>
      </div>
      <div class={"linesContainer transition-all"} style={`height: ${lines.totalHeight};max-height: ${lines.totalHeight};`} data-totalHeight={lines.totalHeight}>
        {lines.heightOfLinesPerc.map((heightOfLine:number, index:number) => (
          <div class={index && "putLineSpacer mt-designLinesSpaceBetween transition-all" || "noLineSpacer"} style={`height: ${heightOfLine};`}>
            <div 
              data-aos="fade-up"
              data-aos-duration={aosDuration(2)}
              data-aos-delay={aosDelay(index)}
              class="bg-secondary h-full w-full" >
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>


