---
const { title, thin, thick, linkUrl, linkText, pageLinks, putAnchor, hideFirst, tagLine } = Astro.props;

//aos
import { aosDuration, aosDelay } from '@/snippets/aosValues';
---
{ (thin || thick || title || linkText || pageLinks ) && 
<spanm id={putAnchor}></span>
<div class="mt-6 space-y-2">

	{!hideFirst && 
	<div
		class="h-0.5 bg-secondary"
		data-aos="fade-up"
		data-aos-duration={aosDuration(1)}
		>
	</div>
	}
	
	<div class="flex flex-row space-between">
		<h3
		class="text-secondary text-base font-medium"
		data-aos="fade-up"
		data-aos-duration={aosDuration(2)}
		>
		<span class="">{title}</span><span>&nbsp;</span>
		<!-- <span class="font-bold">{thick}</span> -->
		</h3>
		{tagLine && <span class="italic hidden md:flex flex-grow" data-aos="fade-up" data-aos-duration={aosDuration(2)}>&nbsp;-&nbsp;{tagLine}</span>}
		{linkUrl && <span class="grow text-right" data-aos="fade-up" data-aos-duration={aosDuration(2)}><a class="font-bold text-secondary text-right" href={linkUrl}>
			{linkText} &nbsp; ↗
		</a></span>}
		{pageLinks && <div class="text-secondary" data-aos="fade-up" data-aos-duration={aosDuration(1)} data-aos-delay={aosDelay(1)}>
			<Fragment set:html={pageLinks} data-aos="fade-up" data-aos-duration={aosDuration(2)} />
		</div>}
	</div>
	{tagLine && <span class="italic md:hidden">&nbsp;-&nbsp;{tagLine}</span>}
	<div 
		class="h-1.5 bg-secondary"
		data-aos="fade-up"
		data-aos-duration={aosDuration(3)}
		>
	</div>
	
</div>
}